<!DOCTYPE html>
<html>
<head>
	<title>发布兼职信息</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maxinum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css">
		body{padding-top:40px;background: #efefef;}
		#index-header{}
		#index-header .navbar{min-height: 35px;background: #4DB849;text-align: center;}
		#index-header .navbar-brand{height: 35px;padding:7px 15px 8px;color:#fff;}
		#index-header .title{height: 35px;line-height: 35px;font-size: 18px;color: #fff;font-weight: 700}

		#index-content .well{background: #fff;margin-bottom: 10px}



	</style>
</head>
<body>

<header class="index-header" id="index-header">
	<nav class="navbar navbar-fixed-top">
		<a class="navbar-brand" href="{:U('index')}"><<列表</a>
		<span class="title">发布信息</span>
		<a class="navbar-brand pull-right" href=""><span class="glyphicon glyphicon-pencil"></span></a>
	</nav>
</header>


<!-- index-content begin -->
<div id="index-content">
	<div class="well">
		<form method="post">
			<div class="form-group">
				<input class="form-control" name="title" type="text" placeholder="标题/40字以内" ></input>
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="8" name="content" placeholder="内容/500字以内"></textarea>
			</div>
			<div class="form-group">
				<input class="form-control" name="contact" type="text" placeholder="联系方式/30字以内"></input></div>
			<div class="text-right"><button class="btn btn-success">发布</button></div>

		</form>
	</div>
</div>


</body>
</html>