<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container body">
        <h5 class="page_title top_line">失物招领信息发布说明</h5>
    	<ul class="toggle_list" style="margin-top:50px">
        	<li class="single_item m_15 p_10 toggle_list_open">
            	<div class="title icon_arrow_right">
                	<img width="30" class="fl mr_10" src="__IMG__/m/pic_card.png"/>
                	<p><strong>失物招领信息发布说明</strong></p>
                </div>
                <div class="content">
                	<p>{$config.desc}</p>
                </div>
            </li>
        </ul>
    	
        <p class="copyright">{$system_copy_right}</p>
    </div>
</body>
</html>
